.app-container {
  height: 80vh;
  width: 50vw;
  border: 4px solid black;
  border-radius: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 100vh;
  overflow: hidden;
}

.controls {
  display: flex;
}

input.button {
  height: 40px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  height: 50px;
  width: 10%;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.chat {
  height: 100%;
  width: 100%;
  border-bottom: 2px solid black;
  overflow-y: scroll;
}
